s3:
  drivers:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/drivers/met/gefs-v12
  targets:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/targets/bvre
  forecasts:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/forecasts/netcdf
  forecasts_parquet:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/forecasts/parquet
  warm_start:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/restart
  scores:
    endpoint: renc.osn.xsede.org
    bucket: bio230121-bucket01/flare/scores/parquet
location:
   site_id: bvre
   name: Beaverdam Reservoir
   latitude: 37.307   #Degrees North
   longitude: 79.81607  #Degrees West
da_setup:
    use_obs_constraint: TRUE
    da_method: enkf
    par_fit_method: perturb_const
    ensemble_size: 256
    no_negative_states: TRUE
    assimilate_first_step: FALSE
model_settings:
   ncore: 4
   model_name: glm #other is "null"
   base_GLM_nml: glm3.nml
   modeled_depths: [0.00, 0.25, 0.50, 0.75,
                    1.00, 1.25, 1.50, 1.75,
                    2.00, 2.25, 2.50, 2.75,
                    3.00, 3.25, 3.50, 3.75,
                    4.00, 4.25, 4.50, 4.75,
                    5.00, 5.25, 5.50, 5.75,
                    6.00, 6.50, 7.00, 7.50,
                    8.00, 8.50, 9.00, 9.50,
                    10.00, 10.50, 11.00, 11.50,
                    12.00, 12.50, 12.00, 12.50,
                    13.00] 
   par_config_file: parameter_calibration_config.csv #change this to NULL to keep parmeters constant
   obs_config_file: observations_config.csv
   states_config_file: states_config.csv
   depth_model_sd_config_file: depth_model_sd.csv
default_init:
   lake_depth: 13  #not a modeled state
   temp: [4.8,4.8,4.78,4.76,4.73,4.73,4.73,4.73,4.71,4.71,4.7,4.7,4.7,4.7] #27,26,23,23,14,11,10,9,9,9,9,9
   temp_depths: [0.1,1,2,3,4,5,6,7,8,9,10,11,12,13] 
   salinity: 0.0
   snow_thickness: 0.0
   white_ice_thickness: 0.0
   blue_ice_thickness: 0.0
inflow:
   include_inflow: FALSE
   use_forecasted_inflow: FALSE
   forecast_inflow_model: NA
   observed_inflow_filename: NA
   inflow_variables: NA
   use_ler_vars: FALSE
met:
   use_forecasted_met: TRUE
   use_observed_met: FALSE
   local_directory: .na
   observed_met_filename: .na
   use_ler_vars: FALSE
   forecast_lag_days: 1
uncertainty:
   observation_uncertainty: TRUE
   process_uncertainty: TRUE
   weather_uncertainty: TRUE
   initial_condition_uncertainty: TRUE
   parameter_uncertainty: TRUE
   met_downscale_uncertainty: TRUE
   inflow_process_uncertainty: TRUE
output_settings:
   diagnostics_names:  [extc]
   evaluate_past: FALSE
   variables_in_scores: [state, parameter]
